
/* @font-face {
    font-family: poppins;
    src: url(./FONTS/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: poppins;
    src: url(./FONTS/Poppins-Bold.ttf);
    font-weight: bold;
  } */

  


* {
    box-sizing: border-box;
    font-family: poppins; 
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }

body{
    margin: 0;

}

.navbg{
    padding: 55px;
    background-color: #EF266F;
}

section {
    display: table;
    width: 100%;
    padding: 0 7%;
    margin: 0;
    max-width: none;
    background-color: #EF266F;
    height: 80vh;
}

section:last-of-type {
    height: 30vh;
}

section:nth-of-type(2n) {
    background-color: #ffffff;
        
}

section#contact {
    display: table;
    width: 100%;
    padding: 0 7%;
    margin: 0;
    margin-top: 8%;
    max-width: none;
    background-color: #EF266F;
    height: 25vh;
}

.introSection {
    height: 80vh;
}

.content {
    /* vertical-align: middle; */
    margin: 10% 5%;
}

.content h1 {
    color: white;
    font-size: 5rem;
    padding: 0;
}

.contenthome {
  /* vertical-align: middle; */
  margin: 10% 5%;
}

.contenthome h1 {
  color: white;
  font-size: 3.5rem;
  padding: 0;
}

.contenthome h1 span{
  font-size: 7rem;
}

.contentQuote{
  margin: 5%;
  padding: 10% 30% 10% 1%;
}
.contentQuote h1{
  color: white;
  font-size: 5rem;
  padding: 0;
}
.contentQuote .cite{
  color: rgba(255, 255, 255, 0.68);
      font-size: 0.8rem;
 
}

.contentQuote .cite2{
  color: rgba(255, 255, 255, 0.68);
      font-size: 0.8rem;
 
}


.content h2 {
    color: white;
    font-size: 3rem;
    padding: 0;
    margin: 0 5% 10% 5%;
}


.content h3 {
    color: white;
    font-size: 2rem;
    padding: 0;
    margin: 0 5% 10% 5%;
    letter-spacing: 2px;
}




p {
    color: #2d2725;
    font-size: 18px;
    
}

/* footer {
    padding: 1% 5%;
    text-align:center;
    background-color: #EF266F;
    color: white;
}
footer h6{
  margin: 0;
  padding: 0;
} */

.footerContainer{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
  background-image: url(./IMAGES/HOMEPAGESLIDER/LBBW02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5% 10%;
}

/* .fs{
  background-color: aqua;
} */



.footerLinks{
 margin-top: 15px;
 display:inline-block;
 
}

.footerLinks img{
  width: 30px;
  margin-right: 20px;
  vertical-align: middle;
 }


.footerLinks a{
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  padding: 15px;
  margin: 0;
  
}

.footerLinks a:hover{
  display: block;
  color: #ffffff;
  background-color: #EF266F;
  text-decoration: none;
  font-size: 15px;
  padding: 15px;
  margin: 0;
}

.title{
  border-bottom: 3px solid white;
  padding: 10px;
}

.title h4{
  color: white;
  font-size: 20px;
  margin: 0;
}


.quote{
    margin: 50px 5%;
}

.quote h1{
    color: #EF266F;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.quotecite{
    color: #967f78cb;
    font-size: 12px;    
}

.quoteSection{
    margin: 2% 10%;
}


.btn{
    display: inline-block;
    color: white;
    background-color: #EF266F;
    padding: 15px 60px;
    margin: 2% 5% 10% 5%;
    text-transform: capitalize;
    border: 2px solid white;
}

.btn:hover{
    color: #EF266F;
    background-color: white;
}
a.btn{
    text-decoration: none;
}


.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 5px 25px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #2d2725;
    text-align: center;
    padding: 16px 28px;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
  }
  
  
  
  .topnav .icon {
    display: none;
  }
  
  
  
 
  
  .topnav a:hover:not(.active) {
    color: #05171c;
    border-bottom: 3px solid #EF266F;
  }


  #logo:hover {
    border-bottom: none;
  }

  #logo{
      margin: 5px 25px 0px 0px;
      padding: 0;
  }
  
  


  .topnav img{
      height: 65px;
      margin-right: 15px;
      
  }

  .headshotcontainer{
      margin: 0 5%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .headshotcontainer img{
      height: 300px;
  }

  .headshotcontainer h1{
    color: #EF266F;
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
  }

  .headshotcontainer h5{
    color: #EF266F;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    margin-left: 100px;
  }

  

  .biosection{
    margin: 2% 10% 10% 10%;
  
  }

  .biosection p{
    margin: 5%;
  }

  hr{
      margin: 50px 5%;
      border: 1px solid #EF266F;
  }

  
  .underlineG{
    /* margin-top: 80px;
    background-color: #EF266F;
    display: inline-block;
    line-height: 1px;
    align-items: baseline;
    padding: 0px 25px 18px 25px; */
    background-image: url(./IMAGES/HOMEPAGESLIDER/TGBW02.jpg);
    background-position: center;
    background-size: cover;
    padding: 5%;
  }

  .underlineG h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
  }

  .underlineG h1 span{
    color: #ffffff;
    font-size: 15px;
  }

  .underlineH{
    /* margin-top: 80px;
    background-color: #EF266F;
    display: inline-block;
    line-height: 1px;
    align-items: baseline;
    padding: 0px 25px 18px 25px; */
    background-image: url(./IMAGES/HOMEPAGESLIDER/THBW03.jpg);
    background-position: center;
    background-size: cover;
    padding: 5%;
  }

  .underlineH h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
  }

  .underlineH h1 span{
    color: #ffffff;
    font-size: 15px;
  }





  .underlineC{
    /* margin-top: 80px;
    background-color: #EF266F;
    display: inline-block;
    line-height: 1px;
    align-items: baseline;
    padding: 0px 25px 18px 25px; */
    background-image: url(./IMAGES/HOMEPAGESLIDER/CBW01.jpg);
    background-position: center;
    background-size: cover;
    padding: 5%;
  }

  .underlineC h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
  }

  .underlineC h1 span{
    color: #ffffff;
    font-size: 15px;
  }
  

  .underlineF{
    /* margin-top: 80px;
    background-color: #EF266F;
    display: inline-block;
    line-height: 1px;
    align-items: baseline;
    padding: 0px 25px 18px 25px; */
    background-image: url(./IMAGES/HOMEPAGESLIDER/FBW01.jpg);
    background-position: center;
    background-size: cover;
    padding: 5%;
  }

  .underlineF h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
  }

  .underlineF h1 span{
    color: #ffffff;
    font-size: 15px;
  }

  .underline2{
    margin-top: 35px;
    background-color: #EF266F;
    display: inline-block;
    line-height: 0px;
    align-items: baseline;
    padding: 0px 25px 18px 25px;
  }

  .underline2 span{
    
    font-size: 25px;
    font-weight: bold;
  }

  .productions{
    margin: 2% 10%;
}

.productions a{
    text-decoration: none;
    color: #EF266F;
    font-weight: bold;
}

.productions span{
  color: #EF266F;
  font-weight: bold;
}


ul.contributors{
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

ul li::before {
    content: "\25A0";
    color: #EF266F;
    margin-left: -1em;
    margin-right: 5px;
  }

 
 

.praiseQuote{
    margin: 50px 2%;
}

.praiseQuote h1{
    color: #05171c;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

#twoHearts{
    background-color: white;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
 

  .introSection2{
    display: table;
    width: 100%;
    padding: 0 7%;
    margin: 0;
    max-width: none;
    background-color: #EF266F;
    height: 50vh;

  }

  .introSectionIMG{
    display: table;
    width: 100%;
    padding: 0 7%;
    margin: 0;
    max-width: none;
    height: 50vh;
    background-image: url(./IMAGES/HOMEPAGESLIDER/threegracesquoteimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }
  .introSection2IMG{
    display: table;
    width: 100%;
    padding: 0 7%;
    margin: 0;
    max-width: none;
    height: 50vh;
    background-image: url(./IMAGES/HOMEPAGESLIDER/THBW01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .introSection3IMG{
    display: table;
    width: 100%;
    padding: 0 7%;
    margin: 0;
    max-width: none;
    height: 50vh;
    background-image: url(./IMAGES/HOMEPAGESLIDER/TGBW03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .introSection4IMG{
    display: table;
    width: 100%;
    padding: 0 7%;
    margin: 0;
    max-width: none;
    height: 50vh;
    background-image: url(./IMAGES/HOMEPAGESLIDER/LBBW03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .introSection5IMG{
    display: table;
    width: 100%;
    padding: 0 7%;
    margin: 0;
    max-width: none;
    height: 50vh;
    background-image: url(./IMAGES/HOMEPAGESLIDER/WORKSHOPS01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .introSection6IMG{
    display: table;
    width: 100%;
    padding: 0 7%;
    margin: 0;
    max-width: none;
    
    background-image: url(./IMAGES/HOMEPAGESLIDER/TABW01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 50vh;

  }

  #contact{
  background-image: url(./IMAGES/HOMEPAGESLIDER/LBBW02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  .accordion {
    background-color: rgb(255, 255, 255);
    border: 2px solid #EF266F;
    color: #EF266F;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .accordion:hover {
    background-color: #EF266F;
    border: 2px solid #EF266F;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  /* .active, .accordion:hover {
    background-color: #EF266F; 
    color: white;
  } */
  
  .panel {
    padding: 0 18px;
    /* display: none; */
    background-color: white;
    overflow: hidden;
    margin-bottom: 25px;
  }


  /* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    /* background-color:  #EF266F; */
    color: white;
    /* margin: 0 10%; */
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: rgba(0, 0, 0, 0.467);
    float: left;
    border: 2px solid #ffffff;
    outline: none;
    cursor: pointer;
    padding: 15px 30px;
    transition: 0.3s;
    font-size: 17px;
    margin-right: 5%;
    margin-bottom: 5%;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
  }


.tablinks a{
  text-decoration: none;
  color: #ffffff;
}

.tablinks a:hover{
  text-decoration: none;
  color: #EF266F;
}


  @media only screen and (max-width: 600px) {
    .tablinks {
        float: none;
    
    }
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: white;
    color: #EF266F;
  }
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(255, 255, 255);
    color: #EF266F;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
  }

  section#Graces, #fading{
      background-color: white;
  }

  .topnav a.active {
    color: #05171c;
    border-bottom: 5px solid #EF266F;
    
  }

  button.accordion{
      margin-bottom: 25px;
  }

  /* .accordian img {
    float: right;
    display: block;
  } */

  /* .buttons a{
    background-color: inherit;
    float: left;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    padding: 15px 30px;
    transition: 0.3s;
    font-size: 17px;
    margin-right: 5%;
    margin-bottom: 5%;
    color: white;
  } */

  .linkBtn a{
      text-decoration: none;
      color: white;
      padding: 15px 30px;
      
  }
  .linkBtn{
    padding: 15px 30px;
  }

  .linkBtn a:hover{
    color: #EF266F;
}

.link button {
    background-color: inherit;
    float: left;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    /* padding: 15px 30px; */
    transition: 0.3s;
    font-size: 17px;
    margin-right: 5%;
    margin-bottom: 5%;
    color: white;
  }

  .link button:hover {
    background-color: white;
    color: #EF266F;
  }

  .quotecontainer{
      display: grid;
      /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
      grid-template-columns: 1fr 1fr;
      margin-top: 5%;
      margin-bottom: 5%;
      justify-items: center;
      grid-gap: 25px;
      min-height: 300px;
      background-color: #EF266F6b;
      padding: 2%;
  }

  

  .quotecontainer .qblockimg{
      min-width: 500px;
      color: #EF266F;
      background-image: url(./IMAGES/HOMEPAGESLIDER/LBBW01.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  .content .cite{
      color: #ffffffb4;
      font-size: 0.8rem;
  }

  .quoteSectionIMG{
    background-image: url(./IMAGES/HOMEPAGESLIDER/twoheartsquoteimage.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 30vh;
  }

  .quoteSectionIMG h1{
    font-size: 3rem;
  }

  .quoteSectionIMG2{
    background-image: url(./IMAGES/HOMEPAGESLIDER/littlebitchquoteimage.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 30vh;
  }

  .quoteSectionIMG2 h1{
    font-size: 3rem;
  }


  .aboutSection{
    margin: 5% 10%;
  }

  .biosection span, .biosection a{
      color: #EF266F;
      font-weight: bold;
  }

  .aboutSection span{
    color: #EF266F;
    font-weight: bold;
  }

  /* .aboutSectionFlex{
    margin: 5% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aboutSectionFlex img{
    max-height: 500px;
    min-height: 100px;
  }

  .aboutSectionFlex .box{
    padding: 2%;
  } */


.websiteLink{
  text-decoration: none;
  border: 3px solid #EF266F;
  padding: 15px 30px;
}

.websiteLink:hover{
  text-decoration: none;
  border: 3px solid #EF266F;
  background-color: #EF266F;
  color: #ffffff;
  padding: 15px 30px;
}

video{
  margin: 2% 10%;
}

.contactContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  align-items: center;
  padding: 5%;
  
}

.contactContainer h5{
  color: rgb(31, 31, 31);
  font-size: 2em;
  /* background-color: rgb(0, 131, 88); */
  padding: 15px;
  border-bottom: 3px solid #EF266F;
  margin: 0 0 4% 0;
}

/* .contactColumn{
  padding: 10%;
} */

.contactColumn img{
  padding: 8%;
}